@import 'normalize.css';
@import 'fonts';
@import 'general';
@import 'forms';

:root {
	--white: hsl(0, 0%, 100%);
	--light300: hsl(252, 6%, 83%);
	--light500: hsl(245, 15%, 58%);
	--dark500: hsl(245, 19%, 35%);
	--dark700: hsl(248, 70%, 10%);
	--accent300: hsl(7, 88%, 67%);
	--accent500: hsl(7, 71%, 60%);
	--gradientText: hsl(7, 86%, 67%),hsl(0, 0%, 100%);
}

* {
	box-sizing: border-box;
}

body {
	// *You can also add multiple background images!
	// background-image: url('/images/pattern-squiggly-line-bottom-mobile-tablet.svg'), url('/images/pattern-lines.svg'), url('/images/pattern-squiggly-line-top.svg'), url('/images/background-mobile.png');
  // background-size: 60%, cover, 30%, cover;
  // background-repeat: no-repeat,repeat, no-repeat, no-repeat;
  // background-position: bottom -45px left, top, top 10px right, top;

	font-family: $font;
	font-size: $fontSize;
}
